<div class="modal modal-info fade in" id="modal-info" style="display: block; padding-right: 17px;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
            <!-- <span aria-hidden="true">×</span></button> -->
          <h4 class="modal-title">Tutor Login</h4>
        </div>
        <!-- form body starts-->
        <div class="modal-body">
          <form [formGroup]="myform">
          <div class="form-group">
            <label for="exampleInputEmail1" >User Id</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email or mobile" formControlName="id">
          </div>
          <small *ngIf="myform.get('id').invalid && myform.get('id').touched" class="text-danger">
            User id is required.
           </small>
          <div class="form-group">
            <label for="exampleInputPassword1" >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="pass">
          </div>
          <small *ngIf="myform.get('pass').invalid && myform.get('pass').touched" class="text-danger">
            Password  is required.
           </small>
          <div class="row">
           
            <div class="col-xs-4" >
                <a href="/tm/forgotPass" class="text-center" style="color: seashell;">forgot Password ?</a>
            </div>
            <!-- /.col -->
            <div class="col-xs-4" style=" left: 44%;">
          <div >
            <button type="submit" class="btn btn-primary"  (click)=onSubmit()>Login</button>
          </div>
          </div>
        </div>
      </form>
        <!-- form body ends-->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>