body {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1;
  }
  
  table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  table tr th { 
    /* background-color: #b90f17; */
    color: honeydew;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }


  * {
    box-sizing: border-box;
  }
  
  body {
    background: #e4dddd;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
    position: relative;
    
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
    cursor: pointer;
  }
  /*(to right, #0fb2fd, #0d09ec);*/
  .card-header {
    text-align: center;
    padding: 50px 10px;
    height: 40%;
    background: #0e0b0d;
    color: #fff;
  }
  
  .card-body {
    padding: 10px 10px;
    text-align: center;
    font-size: 15px;
  }
  
 /* .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right,  #b430a3, #680960);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
  }  */
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px -10px rgba(250, 4, 250, 0.877);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }
